bin/Head.txt
bin/Icon.ico
bin/Last.txt
bin/Logo_icon_2.ico
bin/setting.ini
bin/Debug/2fppbrMX1s3f5u5o3_540.gcode
bin/Debug/444023ef-730e-472d-877c-52ddbec4a636.gcode
bin/Debug/FireFOX.gcode
bin/Debug/LaserDIY.exe
bin/Debug/LaserDIY.pdb
bin/Debug/LaserDIY.vshost.exe
bin/Debug/LaserDIY.vshost.exe.manifest
bin/Debug/LaserDIY.xml
bin/Debug/TestFile.txt
bin/Debug/WindowsApplication1.vshost.exe
bin/Debug/WindowsApplication1.vshost.exe.manifest
bin/Debug/pic/arrow.png
bin/Debug/pic/arrow_m.cur
bin/Debug/pic/Back.png
bin/Debug/pic/Gcode_icon.png
bin/Debug/pic/Gcode-after_icon.png
bin/Debug/pic/hnwse.cur
bin/Debug/pic/Image_icon.png
bin/Debug/pic/imgOK.png
bin/Debug/pic/imgOK_move.png
bin/Debug/pic/imgOK_OK.png
bin/Debug/pic/mainBack.png
bin/Debug/pic/move_il.cur
bin/Debug/pic/NC_icon.png
bin/Debug/pic/NoPic.JPG
bin/Debug/pic/prevBack_big.png
bin/Debug/pic/prevBack_move.png
bin/Debug/pic/prevBack_noselect.png
bin/Debug/pic/prevBack_select.png
bin/Debug/pic/set_icon.png
bin/Debug/pic/subBack.png
bin/Debug/pic/test.bmp
bin/Debug/pic/箭頭.gif
bin/Release/LaserDIY.exe
bin/Release/LaserDIY.pdb
bin/Release/LaserDIY.vshost.exe.manifest
bin/Release/LaserDIY.xml
bin/Release/PtoG雷射雕刻.exe
bin/Release/PtoG雷射雕刻.pdb
bin/Release/PtoG雷射雕刻.vshost.exe
bin/Release/PtoG雷射雕刻.vshost.exe.manifest
bin/Release/PtoG雷射雕刻.xml
bin/Release/pic/arrow.png
bin/Release/pic/arrow_m.cur
bin/Release/pic/Back.png
bin/Release/pic/Gcode_icon.png
bin/Release/pic/Gcode-after_icon.png
bin/Release/pic/hnwse.cur
bin/Release/pic/Image_icon.png
bin/Release/pic/imgOK.png
bin/Release/pic/imgOK_move.png
bin/Release/pic/imgOK_OK.png
bin/Release/pic/mainBack.png
bin/Release/pic/move_il.cur
bin/Release/pic/NC_icon.png
bin/Release/pic/NoPic.JPG
bin/Release/pic/prevBack_big.png
bin/Release/pic/prevBack_move.png
bin/Release/pic/prevBack_noselect.png
bin/Release/pic/prevBack_select.png
bin/Release/pic/set_icon.png
bin/Release/pic/subBack.png
bin/Release/pic/test.bmp
bin/Release/pic/箭頭.gif
My Project/app.manifest
obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/x86/Debug/GenerateResource.read.1.tlog
obj/x86/Debug/GenerateResource.write.1.tlog
obj/x86/Debug/LaserDIY.exe
obj/x86/Debug/LaserDIY.pdb
obj/x86/Debug/LaserDIY.vbproj.FileListAbsolute.txt
obj/x86/Debug/LaserDIY.xml
obj/x86/Debug/WindowsApplication1.Form1.resources
obj/x86/Debug/WindowsApplication1.Form2.resources
obj/x86/Debug/WindowsApplication1.Form3.resources
obj/x86/Debug/WindowsApplication1.Form4.resources
obj/x86/Debug/WindowsApplication1.Resources.resources
obj/x86/Debug/WindowsApplication1.UserControl1.resources
obj/x86/Debug/TempPE/My Project.Resources.Designer.vb.dll
obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
obj/x86/Release/GenerateResource.read.1.tlog
obj/x86/Release/GenerateResource.write.1.tlog
obj/x86/Release/LaserDIY.exe
obj/x86/Release/LaserDIY.pdb
obj/x86/Release/LaserDIY.vbproj.FileListAbsolute.txt
obj/x86/Release/LaserDIY.xml
obj/x86/Release/PtoG雷射雕刻.exe
obj/x86/Release/PtoG雷射雕刻.pdb
obj/x86/Release/PtoG雷射雕刻.xml
obj/x86/Release/WindowsApplication1.Form1.resources
obj/x86/Release/WindowsApplication1.Form2.resources
obj/x86/Release/WindowsApplication1.Form3.resources
obj/x86/Release/WindowsApplication1.Form4.resources
obj/x86/Release/WindowsApplication1.Resources.resources
obj/x86/Release/WindowsApplication1.UserControl1.resources
obj/x86/Release/TempPE/My Project.Resources.Designer.vb.dll
